.chocolate {
    background-color: #42210B;
  }
  
  .milk {
    background-color: #ffffff;
  }
  
  .ice-cream {
    background-color: #edf1c2ea;
  }
  
  .banana {
    background-color: #eef121;
  }
  
  .strawberry {
    background-color: #df1b5c;
  }
  
  .caramel {
    background-color: #BF8230;
  }
  
  .raspberry {
    background-color: #dc143c;
  }

  .honey {
    background-color: #f4bf06;
  }
  
  .pineapple {
    background-color: #e9c04f;
  }
  
  .cherry {
    background-color: #911e42;
  }
  
  .currant{
    background-color: #990f70;
  }

  .mint{
    background-color: #9ffeb0;
  }